@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
	font-family: 'Montserrat', sans-serif;
}

.container {
	text-align: center;
}
.navbar-list {
	text-align: center;
}

.img {
	max-width: 100%;
}

.navbar-list-item {
	display: inline-block;
	margin-left: 15px;
	margin-right: 15px;
}

.navbar-link {
	text-decoration: none;
	color: rgba(255, 0, 0, 1);
	font-family: montserrat;
	font-weight: 700;
	font-size: 20px;
	line-height: 18px;
	letter-spacing: 3px;
	display: inline-block;
}

.main {
	max-width: 1200px;
	margin: 0 auto;
	text-align: center;
}

.main-title {
	font-family: montserrat;
	font-weight: 700;
	font-size: 25px;
	line-height: 30px;
	letter-spacing: 3px;
}

.main-info {
	font-family: Montserrat;
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	letter-spacing: 2px;
	text-align: center;
}

.btn {
	margin-top: 50px;
	width: 190px;
	height: 50px;
	font-family: Montserrat;
	font-size: 12px;
	font-weight: 700;
	color: rgba(255, 255, 255, 1);
	line-height: 12px;
	letter-spacing: 1.7px;
	text-align: center;
	border-radius: 5px;
	border-style: none;
	background: rgba(255, 0, 0, 1);
}
